.header__logo {
width:100px;
object-fit:contain;
margin:0 20px;
margin-top:18px;
}
.header{
background-color:black;
display:flex;
align-items:center;
}
.header__search{
display:flex;
flex:1;

}
.header__searchInput{
    height:12px;
    padding:10px;
    border:none;
    width:100%;
}
.header__searchIcon{
    background-color:orange;
    height:22px !important;
    padding:5px;

}